<div class="navbar">
    <h1 translate>Translate.Settings.Title</h1>
<div>
    <h3>This app requires an API key from Trove to function. If you don't have one, create an account at <a href="https://trove.nla.gov.au/">Trove</a> and follow the instructions to get an API key.</h3>
    <p></p>
    <h3><a href="https://trove.nla.gov.au/about/create-something/using-api/api-version-2-technical-guide">Trove API Documentation</a></h3>
    
    <h3 class="subheading-1">Add your Trove API key:</h3>
    <mat-form-field appearance="standard">
        <mat-label>Trove API key</mat-label>
        <input matInput [(ngModel)]="TroveAPIKey"  [maxLength]="50">
    </mat-form-field>
    <div mat-dialog-actions>
        <button mat-raised-button color="primary" (click)="saveTroveAPIKey()">Save API key</button> &nbsp;
        <button mat-raised-button color="primary" [routerLink]="'/'">Back</button>
</div><br>
