<ng-container 
  *ngIf="troveData?.length > 0; then entities; else noentities"
  ></ng-container>

<ng-template #noentities>
  <h1>Welcome!</h1>
  <p>This app searches Trove for additional information for BIB results shown on the screen.</p>
  <p>You are able to:</p>
  <ul>
    <li>view holdings numbers.</li>
    <li>view type information about a particular Trove item.</li>
    <li>link out directly to the item on Trove.</li>
  </ul>
</ng-template>

<ng-template #entities>
  <h1>Trove Results</h1>
  <mat-accordion>
    <mat-expansion-panel *ngFor="let tdp of troveData; let i = index"  [disabled]="tdp?.length == 0">
      <mat-expansion-panel-header >
        <mat-panel-title>{{ i + 1 }}.</mat-panel-title>
        <mat-panel-description *ngIf="tdp?.length > 0">
          <span class="truncate"> {{ tdp[0].title }} </span>
        </mat-panel-description>
        <mat-panel-description *ngIf="tdp?.length == 0">
          <span class="no-record">No Record Found in Trove</span>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <table class="trove-info-table" *ngFor="let dp of tdp; let i = index">
        <tr><td class="trove-info-label">Type:</td><td colspan="5" class="trove-info-data">{{ dp.type.join(", ") }}</td></tr>
        <tr>
          <td class="trove-info-label">Holdings:</td><td class="trove-info-data">{{ dp.holdingsCount }}</td>
          <td class="trove-info-label">Versions:</td><td class="trove-info-data">{{ dp.versionCount }}</td>
          <td colspan="2" class="trove-info-link"><a target="_blank" href="{{ dp.troveUrl }}">Open in Trove</a></td>
        </tr>
      </table>

    </mat-expansion-panel>
  </mat-accordion>

</ng-template>

<div class="loading-shade" *ngIf="loading">
  <mat-spinner diameter="50"></mat-spinner>
</div>