.entities-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

textarea {
  padding: 2px;
  border-width: 1px;
  $width: calc(100% - 6px);
  width: $width;
  max-width: $width;
  height: 150px;
  font-family: monospace;
  display: block;
}

textarea,
section,
.mat-card {
  margin-bottom: 20px;
}

pre {
  overflow: auto;
  max-height: 200px;
  white-space: pre-wrap;
  word-break: break-all;
}

pre,
textarea {
  font-size: 0.9em;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 300px;
}

.mat-accordion {
  font-size: 12px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}

.mat-expansion-panel-header {
  padding: 0 12px;
}

.mat-expansion-panel-header-title {
  flex-grow: 0;
  margin-right: 8px;
  font-size: 12px;  
}

.mat-expansion-panel-header-description {
  font-size: 14px;
}

div.mat-expansion-panel-body {
  padding: 0 5px 16px !important;
}

.no-record {
  font-style: normal;
  color: #dfdfdf;
  font-weight: lighter;
}

.card-warning {
  color: #770000 !important;
}

.mat-card-title {
  font-size: 14px !important;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}

.mat-card-subtitle {
  font-size: 13px !important;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bolder;

}

.mat-card-content {
  font-size: 13px !important;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 4px;
  margin-bottom: 4px;
}

.mat-button {
  min-width: 56px;
  line-height: 24px;
  padding: 0 3px;
  font-size: 10px;
  text-transform: uppercase;
}

mat-card-actions {
  padding: 5px;
  justify-content: space-between;
}

mat-card-actions a {
  font-size: 14px;
  font-family: Calibri, Tahoma, Arial, Helvetica, sans-serif;
}