<ng-container 
  *ngIf="troveData?.length > 0; then entities; else noentities"
  ></ng-container>

<ng-template #noentities>
  <h1>Welcome!</h1>
  <p>This app searches Trove for additional information for BIB results shown on the screen.</p>
  <p>You are able to:</p>
  <ul>
    <li>view holdings numbers.</li>
    <li>view detailed information about a particular Trove item.</li>
    <li>possibly more...</li>
  </ul>
</ng-template>

<ng-template #entities>
  <h1>Trove Results</h1>
  <mat-accordion>
    <mat-expansion-panel hideToggle *ngFor="let tdp of troveData; let i = index">
      <mat-expansion-panel-header >
        <mat-panel-title>{{ i + 1 }}.</mat-panel-title>
        <mat-panel-description *ngIf="tdp?.length > 0">
          <span class="truncate"> {{ tdp[0].title }} </span>
        </mat-panel-description>
        <mat-panel-description *ngIf="tdp?.length == 0">
          <span class="no-record">No Record in Trove Found</span>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>This is the primary content of the panel.</p>
    </mat-expansion-panel>
  </mat-accordion>

  
  <mat-radio-group
    aria-labelledby="entities-radio-group-label"
    class="entities-radio-group"
    [(ngModel)]="selectedEntity"
    (change)="entitySelected($event)">
    <mat-radio-button *ngFor="let entity of entities$ | async" [value]="entity">
      {{entity.description}}
    </mat-radio-button>
  </mat-radio-group>
</ng-template>

<div class="loading-shade" *ngIf="loading">
  <mat-spinner diameter="50"></mat-spinner>
</div>